<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/images/logo.svg" class="logo">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="main-navbar">
        {{#if isLoggedIn}}
        <div class="navbar-start">
            <a class="navbar-item" href="/user/poi/new/{{user_id}}">
                Add a POI
            </a>

            <a class="navbar-item" href="/user/poi/all/{{user_id}}">
                Your POIs
            </a>

        </div>
        {{/if}}
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {{#unless isLoggedIn}}
                    <a class="button is-primary" href="/register">
                        Register
                    </a>
                    <a class="button is-outlined" href="/login">
                        Log in
                    </a>
                    {{/unless}}
                    {{#if isLoggedIn}}
                    <a class="button" href="/user/profile/{{user_id}}">
                        Edit profile
                    </a>
                    <a class="button is-outlined" href="/logout">
                        Log out
                    </a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</nav>