<article class="panel is-primary">
    <p class="panel-heading">
        List of POI
    </p>
    <p class="panel-tabs" id="poi-categories">
        <a data-category="all" class="is-active">All</a>
        <a data-category="public">Public</a>
        <a data-category="private">Private</a>
        <a data-category="friend">Friends</a>
        <a data-category="museum">Museums</a>
    </p>
    <div class="panel-block">
        <p class="control has-icons-left">
            <input class="input is-primary" type="text" placeholder="Search" id="search-poi">
            <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
            </span>
        </p>
    </div>
    <div id="poi-list">
        {{>poi_list_item}}
    </div>
</article>