<div class="field is-horizontal" id="search-itinerary-form">
    <div class="field-label is-normal">
        <label class="label">From</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="Enter address" id="direction-from">
                <span class="icon is-small is-left">
                    <i class="fas fa-flag"></i>
                </span>
            </p>
        </div>
    </div>
    <div class="field-label is-normal">
        <label class="label">To</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="Enter address" id="direction-to">
                <span class="icon is-small is-left">
                    <i class="fas fa-flag-checkered"></i>
                </span>
            </p>
        </div>
    </div>
    <a class="button is-primary" id="get-itinerary-btn">Get Directions</a>
</div>