<div class="field is-horizontal" id="search-itinerary-form">
    <div class="field-label is-normal">
        <label class="label">From</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
<<<<<<< HEAD
                <input class="input" type="text" placeholder="Enter address" name="origin" id="direction-from"
                    value="Paris">
=======
                <input id="direction-from" class="input" type="text" placeholder="Enter address" required>
>>>>>>> 49e1b059fd38ded016db2fefb11e62aeae77eaa4
                <span class="icon is-small is-left">
                    <i class="fas fa-flag"></i>
                </span>
            </p>
        </div>
    </div>
    <div class="field-label is-normal">
        <label class="label">To</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
<<<<<<< HEAD
                <input class="input" type="text" placeholder="Enter address" name="destination" id="direction-to"
                    value="Marseille">
=======
                <input id="direction-to" class="input" type="text" placeholder="Enter address" required>
>>>>>>> 49e1b059fd38ded016db2fefb11e62aeae77eaa4
                <span class="icon is-small is-left">
                    <i class="fas fa-flag-checkered"></i>
                </span>
            </p>
        </div>
    </div>
    <a class="button is-primary" id="get-itinerary-btn">Get Directions</a>
</div>
