<h1>Alex test page</h1>
<div id="map"></div>

<div id="floating-panel">
<b>Start: </b>
<select id="start">
  <option value="Choose" selected disabled>Choose</option>
  <option value="Viroflay, France">Viroflay</option>
  <option value="Versailles, France">Versailles</option>
  <option value="Boulogne-Billancourt, France">Boulogne-Billancourt</option>
</select>
<b>End: </b>
<select id="end">
  <option value="Choose" selected disabled>Choose</option>
  <option value="Viroflay, France">Viroflay</option>
  <option value="Versailles, France">Versailles</option>
  <option value="Orsay, France">Orsay</option>
  <option value="Nantes, France">Nantes</option>
</select>
</div>
