<div class="columns" id="detour">
    <div class="column is-three-fifths-tablet">
        {{>search_itinerary}}
        <div id="itinerary-notification" class="is-hidden notification is-primary is-light"></div>
        <div id="map" class="is-hidden"></div>
    </div>
    <div class="column">
        {{>poi_list}}
    </div>
</div>