<div class="columns" id="detour">
    <div class="column is-three-fifths-tablet">
        {{>search_itinerary}}
        <div id="itinerary-notification" class="notification is-primary is-light"></div>
        <div id="map"></div>
    </div>
    <div class="column">
        {{>poi_list}}
    </div>
</div>