<div class="columns" id="detour">
    <div class="column is-one-half-tablet">
        {{>search_itinerary}}
        {{>itinerary_duration}}
        <div id="map"></div>
    </div>
    <div class="column">
        {{>poi_list}}
    </div>
</div>