<section class="hero is-fullheight with-background" id="home">
    <div class="columns is-centered is-vcentered">
        <div class="column is-one-third-desktop">
            <div class="box">
                <h1 class="is-size-3 has-text-centered">Relax and make a detour!</h1>

                <p><strong>DETOUR</strong> lets you find interesting places, known as point of interests (POI),
                    nearby your itinerary without deviate too much from your schedule.</p>

                <form method="get" action="/detour" id="search-direction">

                    <div class="field">
                        <label class="label">From</label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" name="origin" placeholder="Enter a starting point"
                                value="Rennes" required />
                            <span class="icon is-small is-left">
                                <i class="fas fa-flag"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">To</label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" name="destination" placeholder="Enter your destination"
                                value="Brest" required />
                            <span class="icon is-small is-left">
                                <i class="fas fa-flag-checkered"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <button class="button is-primary">Get Direction</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>