<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Detour</title>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="/js/moment.min.js"></script>

  <script type="text/javascript" src="/js/DetourRoutes.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>

  {{#if gmapsk }}
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{gmapsk}}&callback=initMap"></script>
  {{/if}}

  {{#each scripts}}
  <script type="module" src="/js/{{this}}.js"></script>
  {{/each}}

  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />

</head>

<body>
  {{>navigation}}
  {{>flash_message}}
  {{{body}}}
</body>

</html>