<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Detour</title>
  <script src="/js/front.js"></script>

  {{#if axios }}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  {{/if}}

  {{#if gplacesk}}
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key={{gplacesk}}&libraries=places"></script>
  {{/if}}

  {{#if gmapsk }}
  <script src="https://maps.googleapis.com/maps/api/js?key={{gmapsk}}"></script>
  {{/if}}

  {{#each scripts}}
  <script type="module" src="/js/{{this}}.js"></script>
  {{/each}}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
  {{>navigation}}
  {{{body}}}
</body>

</html>