<h1>Password Edit</h1>

<p>email: {{user.email}}</p>

<br>

<form action="/user/password-edit/{{user._id}}" method="post">

    <div>
        <label>Current password</label>
        <input type="text" name="current_pwd" placeholder="Enter your current password">
    </div>

    <br>

    <div>
        <label>New password</label>
        <input type="password" name="new_pwd1" placeholder="Enter your new password">
    </div>

    <br>

    <div>
        <label>Retype new password</label>
        <input type="password" name="new_pwd2" placeholder="Enter your new password to avoid any misstyping">
    </div>

    <a><button>Update password</button></a>

</form>