<div class="container">
  <h1 class="is-size-3 has-text-centered">Add a Point of Interest</h1>
</div>

<div class="section">

  <div class="columns">
    <div class="column is-one-half-tablet">
      <div class="container">
        <form action="/user/poi/new/{{id}}" method="post" enctype="multipart/form-data">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="title">Title</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" id="title" type="text" name="title" placeholder="Enter your new POI title"
                    required>
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="category">Category</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div class="select is-primary">
                    <select id="category" name="category">
                      {{#each categoryList}}
                      <option value={{this}}>{{this}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="description">Description</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <textarea class="textarea" id="description" name="description"
                    placeholder="Enter a description"></textarea>
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="address">Address</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" id="address" name="address" type="text" placeholder="Start typing..." required>
                </p>
              </div>
            </div>
          </div>

          <div class="is-hidden">
            <input id="address-hidden" type="text">
          </div>
          <!--

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="lat">Latitude</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" id="lat" name="lat" type="text" placeholder="10" value="10" />
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="lng">Longitude</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" id="lng" name="lng" type="text" placeholder="10" value="10" />
                </p>
              </div>
            </div>
          </div>

-->

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="title">Website</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" id="url" name="url" type="text" placeholder="Enter a URL">
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="image">Add an image</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" id="image" name="image" type="file" value="image">
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal is-hidden" id="elems-to-display">
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <img src="" id="image-display">
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="title">Additional Information</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <textarea class="textarea" id="details" name="details"
                    placeholder="Additional information"></textarea>
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label"></label>
            </div>
            <div class="field-body">
              <div class="field is-grouped is-grouped-centered">
                <div class="control">
                  <button class="button is-primary" id="btn">Add to my List</button>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
    <div class="column">
      <div id="map"></div>
    </div>
  </div>
</div>