<section class="hero is-fullheight with-background">
    <div class="columns is-centered is-vcentered full-height">
        <div class="column is-one-third">
            <div class="box">
                <h1 class="is-size-3 has-text-centered">Edit your Profile</h1>
                <form method="post" action="" id="form-edit-profile">

                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="email" name="email" placeholder="Enter your email"
                                value="{{user.email}}" required />
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="password1">New Password</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="password" name="new_pwd1" placeholder="Enter your password"
                                value="toto" id="password1" required />
                            <span class="icon is-small is-left">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="password2">Retype New Password</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="password" name="new_pwd2" placeholder="Enter your password"
                                value="toto" id="password2" required />
                            <span class="icon is-small is-left">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <button class="button is-primary">Update</button>
                        </div>
                        <div class="control">
                            <a href="/user/delete/{{user._id}}" class="button is-danger is-outlined">Delete Account</a>
                        </div>
                    </div>
                    <a href="/user/password-edit/{{user._id}}"><button>Change Password</button></a>
            </div>
            </form>
        </div>

    </div>
    </div>
</section>