.logo {
    width: 125px;
    // margin-bottom: 25px;
}

#main-navbar+div {
    margin-top: .5rem;
}

#home p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.columns {
    margin-left: inherit;
    margin-right: inherit;
}

#detour {
    height: calc(100vh - 60px);
}

#detour>div:nth-child(2) {
    overflow: scroll;
}

#map {
    height: calc(100% - 80px);
}

#register-form,
#login-form {
    height: calc(100vh - 9.5rem);
}

.poi-details {
    padding: 0.5em 0.75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.poi-details .poi-image {
    flex: 0 0 200px;
    margin-right: 1rem;
}

.poi-details .poi-detail {
    flex: 1;
    margin-right: 1rem;
}

.full-width {
    width: 100%;
}

#search-itinerary-form .field-label {
    flex-grow: 0;
    margin-right: 0.5rem;
    text-align: left;
}

#search-itinerary-form .field-body {
    margin-right: 0.5rem;
}

.panel {
    background-color: gainsboro;
}


.notification.is-primary.is-light {
    background-color: #ebfffc;
    color: #00947e;
}