.logo {
    width: 125px;
    margin-bottom: 13px;
    margin-left: -13px;
}

.navbar.is-fixed-top+div {
    margin-top: .5rem;
}

.with-background {
    background: url('/images/hp-background-cover-2.jpg') no-repeat top center;
    background-size: cover;
}

h1 {
    margin-bottom: 1.5rem;
}

#home p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.columns {
    margin-left: inherit;
    margin-right: inherit;
}

#detour {
    height: calc(100vh - 60px);
}

#search-itinerary-form .field-label {
    flex-grow: 0;
    margin-right: 0.5rem;
    text-align: left;
}

#search-itinerary-form .field-body {
    margin-right: 0.5rem;
}

#map {
    height: calc(100% - 100px);
}


#select-category {
    width: fit-content;
    margin: 0 .5rem;
}

#select-category .navbar-item.has-dropdown:hover .navbar-link,
.navbar-item.has-dropdown.is-active .navbar-link {
    background-color: white;
    height: 2.35rem;
}

#select-category .navbar-dropdown {
    border-top: 1px solid #dbdbdb;
}

#select-category .navbar-dropdown {
    padding: .5rem;
}

// #detour>div:nth-child(2) {
//     overflow: scroll;
// }

#poi-list {
    overflow: scroll;
    height: calc(100vh - 100px);
}

.poi-details {
    padding: 0.5em 0.75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.poi-details .poi-image {
    flex: 0 0 150px;
    margin-right: 1rem;
}

.poi-details .poi-detail {
    flex: 1;
    margin-right: 1rem;
}

.poi-details .poi-actions {
    flex: 0;
}

.full-width {
    width: 100%;
}

.hero {
    justify-content: center;
}

// .full-height {
//     height: 100vh;
// }

.panel {
    background-color: gainsboro;
}

.notification.is-primary.is-light {
    background-color: #ebfffc;
    color: #00947e;
}

.marker {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #00d1b2;
    color: white;
    font-weight: bold;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

#base-duration {
    margin: 0 10px;
}

#detour-duration {
    font-weight: 800;
}

@media screen and (max-width:768px) {
    #map {
        height: 400px;
    }

    #poi-list {
        overflow: initial !important;
        height: initial !important;
    }

    #select-category {
        margin: .5rem .5rem .5rem 0;
        height: auto;
    }

    #select-category .navbar-dropdown {
        display: flex;
        flex-wrap: wrap;
    }

    #select-category .navbar-link:after {
        display: none;
    }

    #select-category .navbar-dropdown .field {
        margin-right: .5rem;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 400px) {
    .poi-details {
        flex-direction: column;
    }

    .poi-details .poi-image,
    .poi-details .poi-detail,
    .poi-details .poi-actions {
        margin-right: 0;
    }

    .poi-details .poi-detail {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}