.logo {
    width: 125px;
    margin-bottom: 13px;
    margin-left: -13px;
}

#main-navbar+div {
    margin-top: .5rem;
}

.with-background {
    background: url('/images/hp-background-cover-2.jpg') no-repeat top center;
    background-size: cover;
}

#home p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.columns {
    margin-left: inherit;
    margin-right: inherit;
}

#detour {
    height: calc(100vh - 60px);
}

#search-itinerary-form .field-label {
    flex-grow: 0;
    margin-right: 0.5rem;
    text-align: left;
}

#search-itinerary-form .field-body {
    margin-right: 0.5rem;
}

#map {
    height: calc(100% - 100px);
}

// #detour>div:nth-child(2) {
//     overflow: scroll;
// }

#poi-list {
    overflow: scroll;
    height: calc(100vh - 210px);
}

.poi-details {
    padding: 0.5em 0.75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.poi-details .poi-image {
    flex: 0 0 200px;
    margin-right: 1rem;
}

.poi-details .poi-detail {
    flex: 1;
    margin-right: 1rem;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100vh;
}

.panel {
    background-color: gainsboro;
}

.notification.is-primary.is-light {
    background-color: #ebfffc;
    color: #00947e;
}

.marker {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #00d1b2;
    color: white;
    font-weight: bold;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}