@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
$family-sans-serif: "Nunito",
sans-serif;
$scheme-main: white;
$primary: hsl(171, 100%, 41%);
$link: hsl(171, 100%, 41%);
$panel-heading-padding: .5rem 1rem;
$notification-padding: .25rem .5rem;
$navbar-item-img-max-height: 2.5rem;
// Import only what you need from Bulma
@import "../../node_modules/bulma/bulma.sass";
// @import "../../node_modules/bulma/sass/base/_all.sass";
// @import "../../node_modules/bulma/sass/elements/button.sass";
// @import "../../node_modules/bulma/sass/elements/container.sass";
// @import "../../node_modules/bulma/sass/elements/title.sass";
// @import "../../node_modules/bulma/sass/form/_all.sass";
// @import "../../node_modules/bulma/sass/components/navbar.sass";
// @import "../../node_modules/bulma/sass/layout/hero.sass";
// @import "../../node_modules/bulma/sass/layout/section.sass";
@import "./custom.scss";